textarea {
    min-height: 400px;
}

.hover-lift {
    transition: all 0.25s cubic-bezier(.08,.52,.52,1);
}

.hover-lift:hover {
    transform: translateY(-1px) scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,.12);
}


@keyframes hide {
    0% {
        opacity: 1;
        padding: 10px;
        margin-bottom: 5px;
        line-height: 1.3;
        height: 100%;
        
    }

    100% {
        opacity: 0;
        padding: 0px;
        line-height: 0%;
        height: 0%;
        margin-bottom: 0px;
    }
}

.MailDiv {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    animation-name: hide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}


.SenderSubjectDiv {
    flex-grow: 1;
    min-width: 150px;
}

.sender {
  font-weight: bold;
  margin-right: 10px;
}


.subject {
    white-space: nowrap;                      
    text-overflow: ellipsis;       
    display: block;                
}

.timeStampDiv {
    flex-grow: 0;
    display: flex;
}

.timestamp {
  color: gray;
  white-space: nowrap;
}

.archiv-icon {
    width: 20px;
    margin-left: 5px;
}