textarea {
    min-height: 400px;
}

.hover-lift {
    transition: all 0.25s cubic-bezier(.08,.52,.52,1);
}

.hover-lift:hover {
    transform: translateY(-1px) scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,.12);
}


.sender {
  font-weight: bold;
  max-width: auto;
  margin-right: 10px;
}

.subject {
  margin-right: 10px;
  min-width: 30px;   /* Wichtig, damit das Umbruchverhalten korrekt funktioniert */
}

.timestamp {
  color: gray;
  white-space: nowrap; /* Timestamp soll nicht umbrechen */
  justify-self: right;
}
